$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: rgb(40, 44, 52);
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}
th {
  padding: 6px 12px;
}

.navbar {
  background-color: rgb(30, 34, 42);
  border: none;
  border-bottom: 1px solid black;
}

button {
  color: black;
}

td:not(:first-child):not(:last-child):not(.new-item) {
  background-color: rgb(54, 50, 62);
  border: 1px solid darkgray;
  &.name {
    border-left: 1px solid black;
  }
  &.holder {
    border-right: 1px solid black;
  }
}

tbody  {
  tr:first-child td:not(:first-child):not(:last-child) {
    border-top: 1px solid black !important;
    // box-shadow: inset 0px 2px 2px black;
  }
  tr:last-child td:not(:first-child):not(:last-child) {
    border-bottom: 1px solid black !important;
    // box-shadow: inset 0px -2px 2px black;
  }
}

th, td {
  span.original, span.money {
    padding: 6px 12px;
  }
  width: 200px;
  height: 40px;
  color: lightgray !important;
  // padding: 2px;
  &:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    padding: 2px;
    border: none;
  }
  &:last-child {
    width: 60px;
    padding: 2px;
    border: none;
  }
}



td.price_input {
  input {
    float: left;
    width: 50%;
  }
}

.money {
  span {
    width: 50%;
    float: left;
  }
  div, input {
    width: 100%;
  }
}

select {
  width: 100%;
}
tr:last-child {
  td {
    border: none;
  }
}

button {
  float: right;
}
